<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <!--设定 活动 图片服务器路径-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />

        <customErrors mode="Off" />
 
  </system.web>

  <!--完美解决支持跨域-->
  <system.webServer>

    <httpErrors errorMode="Custom">
      <error statusCode="404" subStatusCode="0" path="404.htm" />
      <error statusCode="404" subStatusCode="1" path="404.htm" />
      <error statusCode="404" subStatusCode="2" path="404.htm" />
      <error statusCode="404" subStatusCode="3" path="404.htm" />
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4080" />
      </requestFiltering>
    </security>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Headers" value="origin,x-requested-with,content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />

      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="Service.asmx" />
      </files>
    </defaultDocument>
    <staticContent>
      <!--<mimeMap fileExtension=".mp4" mimeType="video/mp4" />-->
      <mimeMap fileExtension=".icon" mimeType="image/jpeg" />
      <mimeMap fileExtension=".image" mimeType="image/jpeg" />
      <!--<mimeMap fileExtension=".ogg" mimeType="application/ogg" />-->
      <!--<mimeMap fileExtension=".woff" mimeType="application/x-woff" />-->
      <!--<mimeMap fileExtension=".woff2" mimeType="application/x-woff" />-->
       <mimeMap fileExtension=".tpl" mimeType="text/html" />
      
      <!--<mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />-->

    </staticContent>
        <httpRedirect enabled="false" />

  </system.webServer>

</configuration>